.certificatesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 4vh;
}

.certificates-header {
    font-size: 4vh;
    margin-top: 25vh;
    margin-right: 26%;
}


.certificate-item {
    width: 34vw;
    align-self: center;
    display: flex;
}

.certificate1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.verify-button {
    background: none;
    margin-top: 2vh;
    border: 2px solid transparent;
    color: var(--text-color);
    cursor: pointer;
    padding: 1vh 2vw;
    border-radius: 8px;
    font-size: 1.7vh;
    width: fit-content;
    height: 5vh;
    background-color: var(--button-color);
    border: var(--button-border-color) 2px solid;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.verify-button:hover {
    background-color: var(--button-color-hover);
    border: #ffffff 1px solid;
}

.verify-button:active {
    background-color: var(--button-color);
}


@media (max-width: 900px) {
    .certificates-header {
        font-size: 3.5vh;
        margin-top: 15vh;
    }
    .certificate-item {
        width: 50vw;
    }
    .certificate-item {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .certificates-header {
        font-size: 3vh;
    }
    .certificate-item {
        width: 50vw;
    }
}

@media (max-width: 420px) {
    .certificates-header {
        font-size: 3vh;
        margin-bottom: 0;
        margin-top: 10vh;
        margin-right: 35%;
    }
    .verify-button {
        font-size: 1.6vh;
        width: fit-content; 
        height: 3.5vh; 
    }
    .certificate-item {
        width: 60vw;
    }
}
