.certificatesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 4vh;
}

.certificates-header {
    font-size: 4vh;
    margin-top: 25vh;
    margin-right: 26%;
}


.certificate-item {
    width: 34vw;
    align-self: center;
    display: flex;
}

.certificate1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.verify-button {
    margin-top: 2vh;
    align-self: flex-end;
    cursor: pointer;
    height: 4vh;
    width: 15vh;
    background-color: var(--button-color);
    border: #ffffff 1px solid;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(1.5vh, 1.9vh, 2.5vh);
}


.verify-button:hover {
    background-color: var(--button-color-hover);
}

.verify-button:active {
    background-color: var(--button-color);
}


@media (max-width: 900px) {
    .certificates-header {
        font-size: 3.5vh;
        margin-top: 15vh;
    }
    .certificate-item {
        width: 50vw;
    }
    .certificate-item {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .certificates-header {
        font-size: 3vh;
    }
    .certificate-item {
        width: 50vw;
    }
}

@media (max-width: 420px) {
    .certificates-header {
        font-size: 2vh;
        margin-bottom: 0;
        margin-top: 10vh;
    }
    .verify-button {
        font-size: 2.2vw; 
        width: fit-content; 
        height: 2.5vh; 
    }
}
