/* experience */
.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.expContainer {
    width: min(700px, 94%);
    margin: 0;
}

.exp-list {
    display: block;
    text-align: left;
    margin: 0;
}

.exp-list li {
    margin-bottom: 1rem;
    line-height: 1.45;
}

.text-experience {
    display: flex;
    flex-direction: row;
    gap: 15vw;
    border: 1px solid var(--line-colorv2);
    padding: 5rem;
    border-radius: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.text-experience h3 {
    margin-bottom: 0;
    margin-left: 0;
}

.expContainer h1 {
    display: flex;
    flex-direction: column;

}

button.exp-item {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 4vh;
    width: 20vh;
    background-color: var(--button-color);
    border: #ffffff 1px solid;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(1.5vh, 1.9vh, 2.5vh);
}

button.exp-item:hover {
    background-color: var(--button-color-hover);
}

button.exp-item:active {
    background-color: var(--button-color);
}



@media (max-width: 1200px) {
    .expContainer h1 {
        font-size: 4vh;
    }
    .exp-item {
            font-size: 1.5vw;
            width: 30vw;
        }
}

@media (max-width: 900px) {
    .experience { 
        margin-left: 5vh;
    }
    .expContainer h1 {
        font-size: 4vh;
    }
    .text-experience {
        padding: 1rem;
        padding-left: 2rem;
        gap: 10vw;
        margin-right: 4vh;
        margin-left: 4vh;
    }
    .exp-item {
        font-size: 2vw;
        width: 30vw;
    }
    button.exp-item { 
        margin-right: 2vw;
    }
}

@media (max-width: 600px) {
    .experience { 
        margin-top: 13vh;
        margin-left: 2vh;
    }
    .expContainer h1 {
        font-size: 3vh;
    }
    .text-experience { 
        flex-direction: column; 
        gap: 2rem; 
        font-size: 3vw;
        padding: 2rem;
        margin-right: 2vh;
        
    }
    .exp-item {
        font-size: 2.5vw;
        width: 60vw;
        margin-left: 2vh;
    }
    button.exp-item { 
        align-self: center; 
        font-size: 2.5vw; 
        width: 12vh; 
        margin-right: 2vw;
    }
}

@media (max-width: 420px) {
    .experience { 
        margin-top: 9vh; 
        margin-left: 0;
    }
    .text-experience {
        padding: 1rem;
        gap: 1rem;
        margin-left: 2vh;
        width: 70%;
        height: 25vh;
    }
    button.exp-item { 
        font-size: 2.2vw; 
        width: 7vh; 
        height: 2.5vh; 
        margin-right: 2vh; 
    }
    .expContainer { 
        margin-right: 1.5rem;
        width: 94%; 
    }
    .exp-list { 
        display: block; 
        text-align: left; 
    }
    .expContainer h1 {
        font-size: 2vh;
    }
    .exp-list li { 
        font-size: 1vh;
    }
}
