.experience-detail {
    margin-top: 50vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.top {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    position: relative;    
}

.headingdet {
    margin: 0;             
    text-align: center;
}

.worklist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
}

.worklist li button {
    background: none;
    margin-top: 2vh;
    border: 2px solid transparent;
    color: var(--text-color);
    cursor: pointer;
    padding: 1vh 2vw;
    border-radius: 8px;
    font-size: 1.7vh;
    width: fit-content;
    height: 5vh;
    background-color: var(--button-color);
    border: var(--button-border-color) 2px solid;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.worklist li button:hover {
    background-color: var(--button-color-hover);
}

.worklist li button.active {
     background-color: var(--button-color);
     border: #ffffff 1px solid;
}

.job-details {
    max-width: 800px;
    margin-top: 2vh;
    text-align: center;
}

.job-details h3 {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.job-details .period {
    font-size: 1.7vh;
    margin-bottom: 3vh;
    color: var(--text-colorv2);
}

.job-details .tasks {
    text-align: left;
}

.job-details .tasks li {
    margin-bottom: 1vh;
}

@media (max-width: 1200px) {
    .experience-detail {
        margin-left: 12vh; 
        margin-right: 12vh;
        margin-top: 26vh;
    }
    .headingdet {
        font-size: 4vh; 
    }
    .worklist h2 {
        font-size: 3vh; 
    }
}

@media (max-width: 900px) {
    .experience-detail {
        margin-left: 8vh; 
        margin-right: 8vh;
    }
    .worklist h2 {
        font-size: 2.7vh; 
        margin-top: 7vh;
    }
    ul {
        font-size: 2vh;
    }
     .worklist li button {
        font-size: 1.3vh;
        height: fit-content;

    }
    .job-details h3 {
        font-size: 2.2vh;
    }
    
    .job-details .period {
        font-size: 1.5vh;
    }

    .job-details .tasks {
        font-size: 1.6vh;
    }
}

@media (max-width: 600px) {
    .experience-detail {
        margin-left: 4vh; 
        margin-right: 4vh;
        margin-top: 13vh;
    }
    .headingdet {
        font-size: 3vh; 
    }
    .worklist h2 {
        font-size: 2.3vh; 
        margin-top: 5vh;
    }
    ul {
        font-size: 1.7vh;
    }
    .worklist li button {
        font-size: 1vh;
        height: 3vh;
        margin-top: 0;
    }
    .job-details h3 {
        font-size: 1.4vh;
    }
    
    .job-details .period {
        font-size: 1vh;
    }

    .job-details .tasks {
        font-size: 1.2vh;
        width: 70%;
        margin-left: 2.5em;
    }
}

@media (max-width: 420px) {
    .experience-detail {
        margin-left: 0vh; 
        margin-right: 2vh;
        margin-top: 7vh;
        margin-bottom: 1vh;
    }
    .headingdet {
        font-size: 2vh; 
        margin-bottom: 0vh;
    }
    .worklist {
        margin-top: 2vh; 
    }
    .worklist h2 {
        font-size: 1.5vh; 
    }
    ul {
        font-size: 1vh;
    }


}
