.skills-group h3 {
    align-self: flex-start;
    margin-left: 20%;
    margin-top: 5vh;
    margin-bottom: 0;
    
}

.skillsContainer h1 {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.skills-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.divider { 
    height: 1px;
    background-color: var(--line-colorv2);
    width: 60%; 
    margin: 10px 0 20px 0;
    align-self: center;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 0;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-items: center;
}

.skills-item { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: var(--box-color);
    width: 6vw;
    height: 6vw;
    font-size: 1vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-item.responsive-item {
    font-size: 0.8vw;
}

.skills-item:hover { 
    transform: scale(1.2);
    box-shadow: 0 0 1.2rem clamp(2px, 0.1vw, 10px) var(--shadow-color);
}

.logos {
    width: 35%;
    height: 40%;
    object-fit: contain;
    margin-bottom: 10px;
}


@media (max-width: 1200px) {
    .skills-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .skills-item {
        font-size: 1vw;
        width: 8vw;
        height: 8vw;
    }
    .skills-group h3 {
        font-size: 2vh;   
    }
}

@media (max-width: 900px) {
    .skills-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .skills-item {
        width: 10vw;
        height: 10vw;
        font-size: 1.5vh;
    }
    .skillsContainer h1 {
        font-size: 4vh;
        margin-top: 20vh;
    }
    .skills-group h3 {
        font-size: 2vh;   
    }
    .skills-item.responsive-item {
        font-size: 1.2vh;
    }
}

@media (max-width: 600px) {
    .skills-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 65%;
        margin-left: 15.5%;
    }
    .skills-group h3 {
        margin-left: 10%;
    }
    .divider {
        width: 80%;
    }
    .skillsContainer h1 {
        font-size: 3vh;
    }
    .skills-item {
        width: 15vw;
        height: 15vw;
        font-size: 2.2vw;
    }
    .skills-item.responsive-item {
        font-size: 1.8vw;
    }
}

@media (max-width: 420px) {
    .subheading {
        font-size: 5vh;
    }
    .skillsContainer h1 {
        margin-top: 15vh;
    }
    .skills-list {
        grid-template-columns: repeat(3, 1fr);
        width: 70%;
        margin-left: 15%;
    }
    .skills-group h3 {
        font-size: 2vh;
        margin-top: 3vh;
    }
    .skills-item {
        width: 18vw;
        height: 18vw;
        font-size: 1.4vh;
    }
    .skills-item.responsive-item {
        font-size: 1vh;
    }
    .skillsContainer h1 {
        font-size: 2vh;
    }
}
